# /etc/my.cnf
[client]
port = 3306
default-character-set = utf8mb4

[mysqld]
port = 3306
basedir = /datafs/module/mysql-5.7.35
datadir = /datafs/module/mysql-5.7.35/data
pid-file = /datafs/module/mysql-5.7.35/data/mysql.pid
socket = /tmp/mysql.sock

sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
#ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

max_connections=2000

default_storage_engine=INNODB
lower_case_table_names=1

user = mysql

# skip-grant-tables

server-id = 1
character-set-server = utf8mb4
log_error = /datafs/module/mysql-5.7.35/logs/mysql-error.log
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /datafs/module/mysql-5.7.35/logs/mysql-slow.log
performance_schema = 0
explicit_defaults_for_timestamp

# 加上下面这一行，保证日志跟系统时间保持一致
log_timestamps=SYSTEM

[mysqld_safe]
general_log = 1
log-output = 'FILE,TABLE'
gerneral_log_file = /datafs/module/mysql-5.7.35/logs/mysqld.log
slow_query_log = 1
slow_query_log_file = /datafs/module/mysql-5.7.35/logs/mysql-slow.log
long_query_time = 5
log-error = /datafs/module/mysql-5.7.35/logs/mysql-error.log

[mysqldump]
quick
default-character-set = utf8mb4
max_allowed_packet = 256M
